html, body {
    margin: 0;
    font-family: 'Outfit', 'Anton', 'Roboto', sans-serif;
}
body {
    background-color: rgb(43, 205, 255);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background: rgb(43,205,255);
    background: linear-gradient(270deg, rgba(43,205,255,1) 0%, rgba(226,248,255,1) 69%);
}

.wrapper .menu ul li a {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: .25rem;
}


.wrapper .menu ul li a:hover {
    background-color: #fff;
    font-size: 10px;
    color: #000;
    border: .5px solid lightslategray;
    border-radius: 10px;
    transition: border .25s;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    height: max-content;
    background-color: rgb(94, 223, 255);
    margin: 10px 10px 10px 5px;
    border: 1px solid #000;
    box-shadow: 0px 0px 0px 3px #000;
    border-radius: 30px;
    padding: 10px 20px 0px;
}

.header {
    width: 100%;
    height: 50rem;
    min-height: 100px;
}

.content {
    background: rgb(43,205,255);
    background: linear-gradient(270deg, rgba(43,205,255,1) 0%, rgba(226,248,255,1) 69%);
    min-height: 300px;
    padding: 20px;
}

.footer {
    background: rgb(43,205,255);
    background: linear-gradient(270deg, rgba(43,205,255,1) 0%, rgba(226,248,255,1) 69%);
    min-height: 150px;
}